<div class="table">
<h1>Edit Specialization</h1>

<%= render 'form' %>

<%= link_to 'Show', @specialization, class: 'btn btn-primary'%> |
<%= link_to 'Back', specializations_path, class: 'btn btn-primary' %>
</div>