<h1>Specialization</h1>
<div class="table">
<p><strong>Name:</strong> <%= @specialization.name %></p>

<br>

<%= link_to 'Edit', edit_specialization_path(@specialization)%> |
<%= link_to 'Back', specializations_path %>
</div>